<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>233337430937-qv2lf458c3874r789gujjnqh4aa8i1i9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.233337430937-qv2lf458c3874r789gujjnqh4aa8i1i9</string>
	<key>API_KEY</key>
	<string>AIzaSyAxEWJvJ26PP-AorNAzOlrlYCuLy0xpc2s</string>
	<key>GCM_SENDER_ID</key>
	<string>233337430937</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>dev.peterfriese.Favourites</string>
	<key>PROJECT_ID</key>
	<string>favourites-1ae4d</string>
	<key>STORAGE_BUCKET</key>
	<string>favourites-1ae4d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:233337430937:ios:98fd3ace4db5637fb36908</string>
</dict>
</plist>
