.ingredientInputContainer {
    display: flex;
    flex-direction: column;
    gap: 2em;
    box-sizing: border-box;
    flex: 1;
    overflow-y: scroll;
    border-radius: 8px;
    padding: 2rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    background-color: #ffffff;
    border: 1px solid lightgray;
}

.label {
    display: block;
    font-size: 1.25rem;
    font-weight: 600;
}

.cuisineTypeDropdown {
    background: transparent;
    border-radius: 0.5rem;
    box-sizing: border-box;
    color: black;
    padding: 1rem;
    position: relative;
    width: 100%;

    /* Remove the default toggle icon*/
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

/* Create a positioning context used for the custom dropdown */
.cuisineTypeDropdownContainer {
    width: 100%;
    position: relative; 
    box-sizing: border-box;

/* Add a custom toggle icon using a pseudo-element */
    &::after {
      content: "▼";
      position: absolute;
      top: 50%;
      right: 1rem;
      transform: translateY(-50%);
      pointer-events: none;
    }
}


button, input::file-selector-button {
    align-self: center;
    background-color: #4285F4;
    color: white;
    padding: 1rem 0;
    transition: background-color 0.3s;
    width: 50%;

    &:not(:disabled):hover {
        background-color: #166abe;
    }

    &:disabled {
        cursor: default;
        opacity: 30%;
    }
}

input {

    &:disabled {
        cursor: default;
        opacity: 30%;
    }

    &::file-selector-button {
        border: 1px solid transparent;
        border-radius: 8px;
        cursor: pointer;
        padding: 0.5rem;
    }
}

.upload {
    background-color: #4285F4;
    border: 1px solid transparent;
    border-radius: 8px;
    color: white;
    font-family: inherit;
    font-size: 1rem;
    font-weight: 500;
    padding: 0.5rem;
    transition: background-color 0.3s;
}

img {
    border: 2px solid rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    width: 50%;
}

.imageInputContainer {
    display: flex;
    flex-direction: row;
}