<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>generation_config</key>
	<string>{"temperature":1,"topP":0.1,"topK":16,"maxOutputTokens":4096,"responseModalities":["TEXT","IMAGE"]}</string>
	<key>max_images_per_day</key>
	<string>20</string>
	<key>model_name</key>
	<string>gemini-2.0-flash-preview-image-generation</string>
</dict>
</plist>
